@{
    ViewData["Title"] = "One Wedding";

}

@model Wedding
<div class="d-flex justify-content-between align-items-center border-bottom">
    <h2>Welcome, @Context.Session.GetString("LoggedUser")!</h2>
    <div class="d-flex justify-content-cneter gap-3 align-items-center">
        <a asp-action="AllWeddings" asp-controller="Wedding">Home</a>
        <a asp-action="PlanWedding" asp-controller="Wedding">Plan a Wedding</a>
        <form asp-action="LogoutUser" asp-controller="User" method="Post">
            <button class="btn btn-link">Logout</button>
        </form>
    </div>
</div>
<div class="col-6">
    <h1>@Model.WedderOne & @Model.WedderTwo's Wedding</h1>
    <p>Date: @Model.Date.ToString("MMM dd, yyyy")</p>
    <h2>Guests:</h2>
    <ul>
        @foreach (UserRSVP uwr in Model.UsersGuest)
        {
            <li class="list-group-item">@uwr.Guest.FirstName @uwr.Guest.LastName</li>
        }
    </ul>
</div>
